@model RumbleEnhancerWebSite.Models.EmoteModel

@{
    ViewData["Title"] = Model.EmoteName;
}

<h1>@Model.EmoteName</h1>

<hr />

<div class="text-center" style="width:400px; margin:0 auto;">
    <div class="text-center">
        <form asp-action="RemoveEmote" asp-route-emoteName="@Model.EmoteName">
            <div class="modal-body">
                <div class="row">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label style="text-align:left">Emote code: @Model.EmoteName</label>
                        </div>
                        <div class="form-group">
                            <label style="text-align:left">Date added: TODO</label>
                        </div>
                        <div class="form-group">
                            <img width="112" height="112" id="Emote" src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Remove Emote" class="btn btn-primary" style="margin:0 auto; width:100%;" onclick="return confirm('Are you sure you want to remove this emote?')"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
