@model RumbleEnhancerWebSite.Models.EmoteModel

@{
    ViewData["Title"] = "UploadEmote";
    string message = TempData["Message"] as string;
    if (!String.IsNullOrEmpty(message))
    {
        <script type="text/javascript">
            alert("@message");
        </script>
    }
}

<h1 class="text-center">Upload Emote</h1>

<hr />
<div class="text-center" style="width:400px; margin:0 auto;">
    <div class="text-center">
        <form asp-action="UploadEmote" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="EmoteName" class="form-control" required placeholder="Emote Code"/>
                <span asp-validation-for="EmoteName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="ImageFile" class="form-control" type="file"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add Emote!" class="btn btn-primary" style="margin:0 auto; width:100%;"/>
            </div>
        </form>
    </div>
</div>